main {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background: #f8f8f8;
}

.main_features {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 40px 30px 40px;
    background: var(--color-hyundai-blue);
}

.main_features svg {
    width: 3rem;
    height: 3rem;
}

.main_feature_icon_check {
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.car_checkbox a {
    color: #000;
}

.filter-side {
    padding: 30px 25px;
    background: #fff;
}

.car_checkbox a:hover {
    color: var(--color-hyundai-blue)
}

input {
    cursor: pointer;
}

i {
    transition: all 0.4s;
}

.icon-active {
    transform: rotate(180deg);
}

.tab-opener span {
    color: #999;
}

.tab-opener span:last-child {
    margin-left: 10px;
}

.tab-opener .active-tab {
    color: #000;
}

@media (max-width: 768px) {
    .tab-opener span:last-child {
        margin-left: 0;
    }
}

.color-box {
    position: relative;
    display: inline-block;
}

.color-box .box-item {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

.color-box input {
    width: 30px;
    height: 30px;
    appearance: none;
    position: absolute;
}

.color-box label {
    position: relative;
}

.color-box label[data-title]:hover:before {
    content: attr(data-title);
    position: absolute;
    left: calc(25px - 100%);
    bottom: 100%;
    margin-bottom: 1.3em;
    padding: .75em .83333em;
    background: #fff;
    min-width: 6.08333em;
    font-size: .75em;
    line-height: 1.25;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .16)
}

.color-box label[data-title]:hover:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto .5em;
    bottom: 100%;
    width: 0;
    height: 0;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .5em solid #fff
}

/* .color-box label .alert-text {
    top: -50px;
    left:0;right:0;margin:0 auto .5em;bottom:100%;
    width: auto;
    display: none;
    text-align: center;
    padding: 5px 25px;
    background: #fff;
    position: absolute;
    margin-left: calc(100% - 50px);
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
} */

/* .color-box label .alert-text::after {
    content: "";
    width: 0;
    height: 0;
    bottom: -10px;
    left: 32%;
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
}

.color-box label:hover .alert-text {
    display: block;
} */

.color-box input::after {
    top: -35px;
    right: -5px;
    color: #fff;
    display: none;
    font-size: 12px;
    padding: 0px 4px;
    border-radius: 50%;
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    font-family: "Font Awesome 5 Free";
    background: var(--color-hyundai-light-blue);
}

.color-box input:checked::after {
    display: block;
}

.options-footer .options-footer-container {
    width: 100%;
    height: auto;
    overflow: auto;
    max-height: 300px;
}

.options-footer-container .custom-checkbox-form {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    letter-spacing: .75px;
}

.options-footer-container .custom-checkbox-form label {
    margin: 5px 0;
}

.btn-disabled-filterer {
    color: #999;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s;
    border: 1px solid #000;
    padding: 12px 30px;
}

.btn-disabled-filterer:hover {
    color: var(--color-hyundai-light-blue);
    border: 1px solid var(--color-hyundai-light-blue);
}

.is-48-48-box-radius {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

.bottom-btn {
    bottom: 10px;
    position: absolute;
}

.image-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.image-content[data-title]::after {
    top: 0;
    left: 0;
    color: #fff;
    padding: 3px 12px;
    position: absolute;
    content: attr(data-title);
    background: var(--color-hyundai-blue);
}

.ml-txt-1 {
    margin-left: 5px;
}

@media (max-width: 768px) {
    .image-content[data-title]::after {
        font-size: small;
        padding: 2px 6px;
    }
    .chosen-car-side {
        padding: 0;
        margin: 16px 0;
    }
    .bottom-btn {
        position: static;
    }
}
